.kk.pad {
  width: 25%;
  height: 6rem;
  padding: 0;
  float: left;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 300;
  text-align: center;
  line-height: 6rem;
  color: #a7b4bb;
  background: transparent;
  border: none;
  border-right: 1px solid #3f4d5d;
  border-bottom: 1px solid #3f4d5d;
}

@media only screen and (max-width: 30em) {
  .kk.pad {
    height: 20vw;
    line-height: 20vw;
  }
}

.kk.pad:last-child { border-right: none; }
.kk.pad.num-0 { width: 75%; }
.kk.pad.alclr {
  width: 50%;
  color: #fda085;
}

.kk.pad.rmcr { color: #f6d365; }
.kk.pad.rstg { color: #899ba2; }
.kk.pad[class*="num-"] { color: #ffffff; }

.kk.pad.rsex {
  font-size: 2rem;
  background: #384350;
}

.kk.pad:active { background: #455263; }
.kk.pad:focus { outline: none; }
