.the-app {
  width: 100%;
  max-width: 30em;
  height: 100vh;
  max-height: 60em;
  margin: 0 auto;
  background: #3a4654;
}

.display-area {
  width: 100%;
  height: calc(100% - 30em);
  background: #3c4958;
  overflow: hidden;
}

@media only screen and (max-width: 30em) {
  .display-area { height: calc(100% - 100vw); }
}
